<div class="container mt-5" id="newsletter">
    <div class="row">
     <div class="col-xl-8 col-lg-10 mx-auto">
     <div class="theCard p-4 px-5">

       <h2 class="font-weight-bold text-white">Stay tuned</h2>

       <h6 class="text-black-50 mb-5 text-color">Subscribe to our newsletter and never miss our latest news, designs, and product updates.</h6>

       <div class="form-group bg-white border rounded px-2 py-2 mb-2">
                         <div class="row">
                             <div class="col">
                                 <input type="email" name="email" class="form-control pl-3 shadow-none bg-transparent border-0" placeholder="Enter your email address">
                             </div>
                             <div class="col-auto">
                                 <button type="submit" class="btn btn-block btn-dark"><i class="fa fa-paper-plane-o mr-2"></i>Get notified</button>
                             </div>
                         </div>
                     </div>

                     <span class="mb-4 text-color">No spam, notifications only about new products, updates and freebies.</span>
       
                    </div>
      </div>
     </div>

   </div>
   <br>
   <br>