{% load static %}
<div id="section2">


        <div class="service">
            <h1>Our Services</h1>
            <hr style="height: 10px; background-color: #07013c; color: #07013c;" />
        </div>
        
        <div class="container d-flex justify-content-center mt-100">
            
            <div class="row">
                <div class="col-md-4">
                   <div class="">
                       <div class="card-body text-center">
   
   
                         <img src="{% static 'images/front-end-img.gif'%}">
   
                         <h4>Front-End</h4>
                         <p>Drop us a mail or use our online online chat feature and we will try to answer your query as soon as possible</p>
   
                         
                           
                              
   
                       </div>
                   </div>
                </div>
                <div class="col-md-4">
                    <div class="">
                        <div class="card-body text-center">
    
    
                            <img src="{% static 'images/backend-img.webp'%}">
    
                          <h4>Back-End</h4>
                          <p>Drop us a mail or use our online online chat feature and we will try to answer your query as soon as possible</p>
    
                          
                            
                               
    
                        </div>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="">
                        <div class="card-body text-center">
    
    
                            <img src="{% static 'images/Mobility-img.jpeg'%}">
    
                          <h4>Mobile</h4>
                          <p>Drop us a mail or use our online online chat feature and we will try to answer your query as soon as possible</p>
    
                          
                            
                               
    
                        </div>
                    </div>
                 </div>
            </div>
           </div>
           <br />
           <br />
           <br />
           <br />
        </div>
   
   