#view-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like-unlike{
    background-color: rgb(0, 76, 255);
    margin-left: 10px;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
    
    transition: 0.3s;
}

#show-messageId{
    display: none;
}

.pic-text .mm{
    display: flex;
    justify-content: flex-start;
    
}

.like-unlike:hover{
    background-color: rgb(142, 158, 246);
}

.like-unlike img{
    width: 30px;
    height: 30px;
}