{% load static %}

<div class="container-fluid px-1 py-5 mx-auto row justify-content-center">
    
    <div class="col-xl-10 col-lg-12 ">
        <div class="card1 pl-4 pl-md-5 pr-3">
            <div class="row">
                <div class="left-side col-md-6">
                    <p class="pt-5 mb-0">Has just arrived!</p>
                    <h3 class="mb-0"><strong>Summer Collection 2019</strong></h3>
                    <small class="">Footwear, Bags, Sunglasses, Caps & much more.</small><br>
                    <button class="btn btn-pink mb-5"><a href="#projects">Explore</a> &nbsp;&nbsp;<div class="fa fa-angle-right"></div></button>
                </div>
                <div class="right-side col-md-6 row justify-content-center">
                    <div class="d-flex">
                        <img class="girl-img fit-img" src="{% static 'images/my_pics1.png' %}">
                    </div>
                </div>
            </div>
        </div>
        <div class="card2 pl-4 pl-md-5 pr-3">
            <div class="row px-3">
                <div class="col-md-12">
                    <div class="blocks row d-flex">
                        <div class="d-flex flex-column col-4">
                            <img class="fit-image img-block" src="{% static 'images/blog_img.jpeg' %}">
                            
                        </div>
                        <div class="d-flex flex-column col-4">
                            <img class="fit-image img-block" src="{% static 'images/Mobility-img.jpeg' %}">
                            
                        </div>
                        <div class="d-flex flex-column col-4">
                            <img class="fit-image img-block" src="{% static 'images/Portfolio-Desk.jpeg' %}">
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>